<ion-row>
  <ion-col (click)="selectedCard('2S')">
    <img src="../../assets/cards/2S.jpg">
  </ion-col>
  <ion-col (click)="selectedCard('3S')">
    <img src="../../assets/cards/3S.jpg">
  </ion-col>
  <ion-col (click)="selectedCard('4S')">
    <img src="../../assets/cards/4S.jpg">
  </ion-col>
</ion-row>
<ion-row>
  <ion-col (click)="selectedCard('5S')">
    <img src="../../assets/cards/5S.jpg">
  </ion-col>
  <ion-col (click)="selectedCard('6S')">
    <img src="../../assets/cards/6S.jpg">
  </ion-col>
  <ion-col (click)="selectedCard('7S')">
    <img src="../../assets/cards/7S.jpg">
  </ion-col>
</ion-row>
<ion-row>
  <ion-col (click)="selectedCard('8S')">
    <img src="../../assets/cards/8S.jpg">
  </ion-col>
  <ion-col (click)="selectedCard('9S')">
    <img src="../../assets/cards/9S.jpg">
  </ion-col>
  <ion-col></ion-col>
</ion-row>