<ion-content [fullscreen]="true">
  <ion-row class="rank" (touchstart)="touchstart($event)" (touchend)="touchend($event)">
    <ion-col>
      <ion-row class="number">A</ion-row>
      <ion-row class="number">2</ion-row>
      <ion-row class="number">3</ion-row>
      <ion-row class="number">4</ion-row>
      <ion-row class="number">5</ion-row>
    </ion-col>
    <ion-col>
        <ion-row class="number">6</ion-row>
        <ion-row class="number">7</ion-row>
        <ion-row class="number">8</ion-row>
        <ion-row class="number">9</ion-row>
        <ion-row class="number">10</ion-row>
    </ion-col>
    <ion-col>
      <ion-row class="letter">J</ion-row>
      <ion-row class="letter">Q</ion-row>
      <ion-row class="letter">K</ion-row>
    </ion-col>
  </ion-row>
 </ion-content>