// .rank{
//   height: 100%;
//   background-image: url('../../assets/scratchcard.jpg');
//   background-size: cover;
//   // border: 1px solid white;
// }

// .number {
//   width: 100%;
//   height: 20%;
// }

// .letter {
//   width: 100%;
//   height: 33.3%;
// }

// // ion-col {
// //   border: 1px solid white;
// // }

// .number, .letter{
//   // color: white;
// }

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

ion-button {
  width: 80%;
  margin-top: 1rem;
  font-weight: bold;
}